
    <div class="admin-panel container-fluid">

        <div class="row">
            <div class="col-sm-6 col-md-8">
                <h1 class="heading">Admin Page</h1>
            </div>

            <div class="col-sm-6 col-md-4 text-right admin-btns">
                <button class="btn btn-default" ng-click="Ctrl.gotoShop()">Go to Shop</button>
                <button class="btn btn-default">Log Out</button>
            </div>
        </div>
        <!-- end row -->
      
        <uib-tabset justified="true">

            <uib-tab heading="View Products">
           
                <div class="admin-view-products row" ng-repeat="product in Ctrl.products track by product.productId">
    	            
                    <div class="col-sm-4 col-md-3">

                        <img style="max-width: 200px;" ng-src="{{product.image}}" alt="{{product.name}}">
    	            
                    </div>
    	        
    	            <div class="col-sm-8 col-md-9">

                        <h2 ng-bind="product.name" class="product-heading"></h2>
                        <p>Product ID: <span ng-bind="product.productId"></span></p>
                        <p>Description: <span ng-bind="product.description"></span></p>
                        <p>Price: <span ng-bind="product.price | currency"></span></p>
                        <p>Category: <span ng-bind="product.category"></span></p>
                        <p>Quantity: <span ng-bind="product.quantity"></span></p>
                        <p>Status: <span ng-bind="product.status"></span></p>
                        <button class="btn btn-default" ng-click="Ctrl.gotoEditProduct(product)">Edit</button>

    	            </div>
    				
                </div>
                <!-- end row -->
    				
            </uib-tab>
            <!-- end View Products -->

            <uib-tab heading="Add Product">
                
                <div class="admin-add-product row" ng-controller="ProductCtrl as Ctrl">
              
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        
                        <form name="addProduct" ng-submit="Ctrl.addProduct(Ctrl.name, Ctrl.description, Ctrl.price, Ctrl.category, Ctrl.quantity, Ctrl.status)">

                            <div class="form-group">
                                
                                <label for="name">Product Name</label>
                                <input type="text" class="form-control" name="name" ng-model="Ctrl.name" placeholder="Product Name" minlength="2" required>
                                <div ng-messages="addProduct.name.$error" ng-if="addProduct.name.$touched">
                                    <div ng-message="minlength">Product name must be at least 2 characters</div>
                                    <div ng-message="required">Product name required</div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                                
                                <label for="image">Product Image (enter URL)</label>
                                <input type="text" class="form-control" name="image" ng-model="Ctrl.image" placeholder="Product Image" required>
                                <div ng-messages="addProduct.image.$error" ng-if="addProduct.image.$touched">
                                    <div ng-message="required">Product image required</div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                                
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" ng-model="Ctrl.description" placeholder="Description"></textarea>
                                 <div ng-messages="addProduct.description.$error" ng-if="addProduct.description.$touched">
                                    <div ng-message="required">Product description required</div>
                                </div>
                            
                            </div>

                            <div class="form-group">
                            	
                                <label for="category">Category</label>
                                <select class="form-control" ng-model="Ctrl.category">
                                  <option value="Abstract">Abstract</option>
                                  <option value="Buildings">Buildings</option>
                                  <option value="Skylines">Skylines</option>
                                  <option value="Streets">Streets</option>
                                </select>
                            
                            </div>

                            <div class="no-left-padding form-group col-sm-4">
                            	
                                <label for="price">Price</label>
                            	<input type="text" class="form-control" name="price" ng-model="Ctrl.price" placeholder="Price">
                                 <div ng-messages="addProduct.price.$error" ng-if="addProduct.price.$touched">
                                    <div ng-message="required">Product price required</div>
                                </div>
                            
                            </div>

                            <div class="form-group col-sm-4">
                            	
                                <label for="quantity">Quantity</label>
                            	<input type="text" class="form-control" ng-model="Ctrl.quantity" placeholder="Quantity">
                            
                            </div>

                            <div class="form-group no-right-padding col-sm-4">
                            	
                                <label for="status">Status</label>
                            	
                                <select class="form-control" ng-model="Ctrl.status">
                                  	<option value="active">Active</option>
                                  	<option value="inactive" ng-selected="true">Inactive</option>
                            	</select>
                            
                            </div>

                            <div class="col-xs-12 no-left-padding">
                            	
                                <button class="btn btn-default">Add Product</button>
                            
                            </div>
                        
                        </form>
                    
                    </div>
            
                </div>
            
            </uib-tab>
            <!-- end Add Product -->

            <uib-tab heading="View Orders">
            
                <div class="admin-add-product row" ng-controller="OrderCtrl as Ctrl">

                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                        <div ng-repeat="order in Ctrl.orders">

                            <h3> Order ID: <span ng-bind="order.orderId"></span></h3>

                            <div ng-repeat="item in order.cart.products"> 

                                <p ng-bind="item.name"></p>

                            </div>

                            <p> Total: <strong><span ng-bind="order.final_total | currency"></span></strong></p>

                            <hr />

                        </div>

                    </div>

                </div>
            
            </uib-tab>

        </uib-tabset>

    </div>
