<form name="checkout">

  <div class="modal-header">
    <h3 class="modal-title">Checkout</h3>
  </div>

  <div class="modal-body">

  	<p><label for="customername">Name: <input name="customername" type="text" ng-model="Ctrl.customerName"></p>
  	<p><label for="customeraddress">Address: <input name="customeraddress" type="text" ng-model="Ctrl.customerAddress"></p>
  	<!-- <p><label for="customercity">City: <input name="customercity" type="text" ng-model="Ctrl.customerCity"></p>
  	<p><label for="customersubcountry">Subcountry: <input name="customersubcountry" type="text" ng-model="Ctrl.customerSubcountry"></p>
  	<p><label for="customercountry">Country: <input name="customercountry" type="text" ng-model="Ctrl.customerCountry"></p>
  	<p><label for="customerpostal">Postal: <input name="customerpostal" type="text" ng-model="Ctrl.customerPostal"></p>
  	<p><label for="customerphone">Phone: <input name="customerphone" type="text" ng-model="Ctrl.customerPhone"></p>
  	<p><label for="customeremail">Email: <input name="customeremail" type="text" ng-model="Ctrl.customerEmail"></p> -->
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="Ctrl.cancel()">Cancel</button>
  	<button class="btn btn-success" ng-click="Ctrl.confirm()">Confirm?</button>
  </div>

</form>